# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# uploads file
/uploads

# database setup
/config/keys.js

# profiling files
package-lock.json
